<h1>Welcome to RStatsX Dashboard!</h1>

<h1>Servers list</h1>

<h2>WIP</h2>
<p>Be careful! This data are not right. For demonstration purposes only.</p>

<table id="servers_list" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th><!-- Game icon -->
            <th>Game</th>
            <th>Address</th>
            <th>Map</th>
            <th>Time</th>
            <th>Players</th>
            <th>Frags</th>
            <th>Headshots</th>
            <th>H:S</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="" /></td>
            <td>Counter-Strike: GO</td>
            <td>127.0.0.1 <a href="#">(Connect)</a></td>
            <td>de_dust2</td>
            <td>04:20</td>
            <td>13/37</td>
            <td>0</td>
            <td>9999</td>
            <td>1/10</td>
      </tr>
    </tbody>
</table>

<!-- Init DataTable2 -->
<script type="text/javascript">
  $('#servers_list').dataTable();
</script>

