<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | RStatsX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
      <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-light">
        <a class="navbar-brand" href="/">RStatsX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

